
.page-container {
	display: flex;
	 justify-content: center;
	 align-items: center;
	 width: 100%;
	 height: 100%;
	 background-color: #99ccff; 
}


.container {
	width: 400px;
    height: 200px;
    border-style: inset; 
    box-sizing: border-box;
    background-color: #ccd9ff;
}